[submodule "main/css-color-parser-cpp"]
	path = main/libraries/css-color-parser-cpp
	url = https://github.com/mapbox/css-color-parser-cpp.git
[submodule "main/libraries/JC_Button"]
	path = main/libraries/JC_Button
	url = https://github.com/JChristensen/JC_Button.git
[submodule "main/libraries/Time"]
	path = main/libraries/Time
	url = https://github.com/PaulStoffregen/Time.git
[submodule "main/libraries/TimeAlarms"]
	path = main/libraries/TimeAlarms
	url = https://github.com/PaulStoffregen/TimeAlarms.git
[submodule "main/libraries/tinyexpr"]
	path = main/libraries/tinyexpr
	url = https://github.com/codeplea/tinyexpr.git
[submodule "main/libraries/TFT_eSPI"]
	path = main/libraries/TFT_eSPI
	url = https://github.com/Bodmer/TFT_eSPI.git
[submodule "components/arduino"]
	path = components/arduino
	url = https://github.com/espressif/arduino-esp32.git
[submodule "main/libraries/ESP32-BLE-Keyboard"]
	path = main/libraries/ESP32-BLE-Keyboard
	url = https://github.com/T-vK/ESP32-BLE-Keyboard.git
[submodule "main/libraries/libtris"]
	path = main/libraries/libtris
	url = https://github.com/atctwo/libtris.git
[submodule "main/libraries/gumbo-parser"]
	path = main/libraries/gumbo-parser
	url = https://github.com/google/gumbo-parser.git
[submodule "main/libraries/Adafruit-MCP23008-library"]
	path = main/libraries/Adafruit-MCP23008-library
	url = https://github.com/adafruit/Adafruit-MCP23008-library.git
[submodule "main/libraries/Adafruit_BusIO"]
	path = main/libraries/Adafruit_BusIO
	url = https://github.com/adafruit/Adafruit_BusIO.git
[submodule "main/libraries/ESP32-audioI2S"]
	path = main/libraries/ESP32-audioI2S
	url = https://github.com/schreibfaul1/ESP32-audioI2S.git
[submodule "main/libraries/tinywav"]
	path = main/libraries/tinywav
	url = https://github.com/mhroth/tinywav.git
[submodule "components/esp_littlefs"]
	path = components/esp_littlefs
	url = https://github.com/joltwallet/esp_littlefs.git
[submodule "components/esp-nimble-cpp"]
	path = components/esp-nimble-cpp
	url = https://github.com/h2zero/esp-nimble-cpp.git
[submodule "main/libraries/Adafruit_MCP9808_Library"]
	path = main/libraries/Adafruit_MCP9808_Library
	url = https://github.com/adafruit/Adafruit_MCP9808_Library.git
[submodule "main/libraries/IRremoteESP8266"]
	path = main/libraries/IRremoteESP8266
	url = https://github.com/crankyoldgit/IRremoteESP8266.git
[submodule "main/libraries/Adafruit_LC709203F"]
	path = main/libraries/Adafruit_LC709203F
	url = https://github.com/adafruit/Adafruit_LC709203F.git
[submodule "main/libraries/Adafruit_Sensor"]
	path = main/libraries/Adafruit_Sensor
	url = https://github.com/adafruit/Adafruit_Sensor.git
[submodule "main/libraries/Adafruit_SHTC3"]
	path = main/libraries/Adafruit_SHTC3
	url = https://github.com/adafruit/Adafruit_SHTC3.git
[submodule "main/libraries/snake-game"]
	path = main/libraries/snake-game
	url = https://github.com/atctwo/snake-game.git
[submodule "main/libraries/ds1337"]
	path = main/libraries/ds1337
	url = https://github.com/richard-clark/ds1337.git
